<div class="h-full px-4 sm:px-4 md:px-8 lg:px-16 xl:px-32 2xl:px-32 flex flex-col md:flex-row items-center justify-center gap-16 overflow-x-hidden">
    <!-- Left -->
    <div class="flex flex-col gap-6 max-w-md text-[var(--white)]">
        <p class="text-3xl font-bold">Connect with Awesome People</p>
        <span class="text-base">
            LinkUp is the best way to reconnect with old friends and communities — reach out and surprise them. Meet up again to reminisce and enjoy the good old times.
        </span>
        <p class="text-lg font-semibold">Why are you waiting for? Join Us Now.</p>
    </div>
    
    <!-- right -->
    <div class="relative">
        <div class="hidden md:block bg-[#ffffff1a] h-[19rem] w-[30rem] rounded-lg shadow-lg relative">
            <div class="absolute top-4 right-[-1rem] bg-[#ffffff1a] h-[19rem] w-[30rem] rounded-lg shadow-lg"></div>
        </div>
        <div class="w-full sm:w-[32rem] md:w-full md:absolute top-[-1rem] right-5 bg-[var(--white)] rounded-lg shadow-xl overflow-hidden">
            <div class="p-8 flex flex-col gap-3">
                <!-- header -->
                <div class="flex gap-2 items-center justify-center">
                    <div class="flex items-center justify-center w-9 h-9 rounded-full border border-[var(--black)]">
                        <img src="./images/single-logo.png" alt="single-logo" class="w-7">
                    </div>
                    <span class="text-2xl text-[var(--black)] font-bold">LinkUp</span>
                </div>
                
                <!-- title -->
                 <div class="flex justify-center">
                     <p class="text-sm text-gray-500">Sign up to LinkUp</p>
                 </div>
                <!-- Form -->
                <form [formGroup]="regForm" (ngSubmit)="register()" novalidate class="flex flex-col text-gray-500 mt-3 gap-2">
                    <div class="relative">
                        <input type="text" name="email" placeholder="email" formControlName="email" class="w-full p-2 outline-none border border-gray-500 rounded-lg">
                        <span *ngIf="(regForm.controls.email.errors && regForm.controls.email.touched) || (regForm.errors && regForm.controls.email.touched)" class=" tooltip text-bg-gradient-left-danger">
                            <fa-icon [icon]="icon.faCircleXmark" class="absolute top-2 right-1 text-[var(--dark-pink)]" />
                            <span class="tooltiptext" *ngIf="regForm.controls.email.errors?.['required']">This fields is required.</span>
                            <span class="tooltiptext" *ngIf="regForm.errors?.['mismatch'] === true">Valid email is allowed.</span>
                        </span>
                        <span *ngIf="regForm.controls.email.errors === null && regForm.errors === null">
                            <fa-icon [icon]="icon.faCircleCheck" class="absolute top-2 right-1 text-[var(--secondary)]"/>
                        </span>
                    </div>
                    <div class="flex flex-1 gap-2 mt-2">
                        <div class="flex  flex-1 items-center justify-center h-8 btn-bg-gradient-success rounded-lg shadow-lg cursor-pointer">
                            <button class="outline-none text-[var(--white)]">Sign Up</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
