<div class="h-full px-4 sm:px-4 md:px-8 lg:px-16 xl:px-32 2xl:px-32 flex flex-col md:flex-row items-center justify-center gap-16 overflow-x-hidden">
    <!-- Left -->
    <div class="flex flex-col gap-6 max-w-md text-[var(--white)]">
        <p class="text-3xl font-bold">Connect with Awesome People</p>
        <span class="text-base">
            LinkUp is the best way to reconnect with old friends and communities — reach out and surprise them. Meet up again to reminisce and enjoy the good old times.
        </span>
        <p class="text-lg font-semibold">Why are you waiting for? Join Us Now.</p>
    </div>
    
    <!-- right -->
    <div class="relative">
        <div class="hidden md:block bg-[#ffffff1a] h-[19rem] w-[30rem] rounded-lg shadow-lg relative">
            <div class="absolute top-4 right-[-1rem] bg-[#ffffff1a] h-[19rem] w-[30rem] rounded-lg shadow-lg"></div>
        </div>
        <div class="w-full sm:w-[32rem] md:w-full md:absolute top-[-1rem] right-5 bg-[var(--white)] rounded-lg shadow-xl overflow-hidden">
            <div class="p-8 flex flex-col gap-3">
                <!-- header -->
                <div class="flex gap-2 items-center justify-center">
                    <div class="flex items-center justify-center w-9 h-9 rounded-full border border-[var(--black)]">
                        <img src="./images/single-logo.png" alt="single-logo" class="w-7">
                    </div>
                    <span class="text-2xl text-[var(--black)] font-bold">LinkUp</span>
                </div>
                
                <!-- title -->
                 <div class="flex justify-center">
                     <p class="text-sm text-gray-500">Change your password to ensure account security</p>
                 </div>
                <!-- Form -->
                <form #changeForm="ngForm" (ngSubmit)="changePassword(changeForm)" novalidate class="flex flex-col text-gray-500 gap-2">
                    <div class="relative">
                        <small class="text-bg-gradient-left-danger">Feel free to change your username if you'd like.</small>
                        <input type="text" name="username" placeholder="Username" required ngModel #usrnme="ngModel" [(ngModel)]="username" (blur)="checkUsername($event)" class="w-full border border-gray-500 p-2 rounded-lg outline-none">
                        <small [ngClass]="[errorMessage?.textName]" *ngIf="errorMessage?.msg">{{ errorMessage?.msg }}.</small>
                        <div *ngIf="usrnme.invalid && usrnme.touched">
                            <small class="text-bg-gradient-left-danger" *ngIf="usrnme.errors?.['required']">Username is required.</small>
                            <fa-icon [icon]="icon.faCircleXmark" class="absolute top-8 right-1 text-[var(--dark-pink)]" />
                        </div>
                        <span *ngIf="usrnme.valid && usrnme.touched">
                            <fa-icon [icon]="icon.faCircleCheck" class="absolute top-8 right-1 text-[var(--secondary)]"/>
                        </span>
                    </div>
                    <div class="relative">
                        <input type="password" name="password" placeholder="Password" required ngModel minlength="8" #usrpwd="ngModel" class="w-full border border-gray-500 p-2 rounded-lg outline-none">
                        <div *ngIf="usrpwd.invalid && usrpwd.touched">
                            <small class="text-bg-gradient-left-danger" *ngIf="usrpwd.errors?.['required']">Password is required.</small>
                            <small class="text-bg-gradient-left-danger" *ngIf="usrpwd.errors?.['minlength']">
                                Password must be at least 8 characters.
                            </small>
                            <fa-icon [icon]="icon.faCircleXmark" class="absolute top-2 right-1 text-[var(--dark-pink)]" />
                        </div>
                        <span *ngIf="usrpwd.valid && usrpwd.touched">
                            <fa-icon [icon]="icon.faCircleCheck" class="absolute top-2 right-1 text-[var(--secondary)]"/>
                        </span>
                    </div>
                    <div class="flex flex-1 gap-2 mt-2">
                        <div class="flex  flex-1 items-center justify-center h-8 btn-bg-gradient-success rounded-lg shadow-lg cursor-pointer">
                            <button class="outline-none text-[var(--white)] cursor-pointer">Change</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>