<div class="p-4 rounded-lg shadow-xl text-sm bg-[var(--white)]">
    <!-- Top -->
     <div class="">
        <div class="flex justify-between items-center">
            <span class="text-base font-semibold text-[var(--black)]">User Information</span>
            <span class="text-sm text-blue-500">
                <!-- Show "See all" if user.id is not equal to currentUser -->
                <span *ngIf="user?.id !== currentUser">See all</span>

                <!-- 
                    Show the update user component if user.id equals currentUser 
                    and send encrypted user id to the update component.
                 -->
                <app-update-user #update *ngIf="user?.id === currentUser" [currentuser]="userId"/>

            </span>
        </div>
        <!-- Divider -->
        <div class="border-[1px] border-gray-200 mt-4"></div>
    </div>
    <!-- Bottom -->
     <div class="flex flex-col gap-4 text-gray-500 mt-4">
        <div class="flex items-center gap-2">
            <span class="text-base font-medium text-[var(--black)]">{{ user.name }} {{ user.surname }}</span>
            <span class="text-sm">&#64;{{ user.username }}</span>
        </div>
        <p>{{ user.desc }}</p>
        <div class="flex items-center gap-2">
            <figure><img src="./images/map.png" alt="map" class="w-6"></figure>
            <span>Living in <b>{{ user.city }}</b></span>
        </div>
        <div class="flex items-center gap-2">
            <figure><img src="./images/school.png" alt="map" class="w-6"></figure>
            <span>Went to <b>{{ user.school }}</b></span>
        </div>
        <div class="flex items-center gap-2">
            <figure><img src="./images/work.png" alt="map" class="w-6"></figure>
            <span>Work in {{ user.work }} at <b>{{ user.city }}</b></span>
        </div>
        <div class="flex items-center justify-between">
            <div class="flex gap-1 items-center">
                <figure>
                    <img src="./images/link.png" alt="ling" class="w-6">
                </figure>
                <a href="{{ user.website }}" class="font-medium text-[var(--primary)]">{{ user.website }}</a>
            </div>            
            <div class="flex gap-1 items-center">
                <figure>
                    <img src="./images/date.png" alt="ling" class="w-6">
                </figure>
                <span>Joined {{ user.created_at | date:'MMM d, y' }}</span>
            </div>
        </div>
        <div class="flex flex-col gap-1" *ngIf="user?.id != currentUser">
            <!-- <button class="btn-bg-gradient-success text-white text-sm rounded-md p-2 cursor-pointer">{{ isFollowing ? "Following" : isFollowingSent ? "Request Sent" : "Follow" }}</button> -->
            <button class="btn-bg-gradient-success text-white text-sm rounded-md p-2 cursor-pointer" (click)="followUser(user.id)">{{ followStatus }}</button>
            <span class="text-bg-gradient-left-danger self-end text-xs cursor-pointer" (click)="blockUser(user.id)">{{ blockStatus }}</span>
        </div>
     </div>
</div>