<div class="p-4 rounded-lg shadow-xl text-sm bg-[var(--white)]">
    <!-- Top -->
     <div class="">
        <div class="flex justify-between items-center">
            <span class="text-base font-semibold text-[var(--black)]">User Information</span>
            <span class="text-sm text-blue-500">See all</span>
        </div>
        <!-- Divider -->
        <div class="border-[1px] border-gray-200 mt-4"></div>
    </div>
    <!-- Bottom -->
     <div class="flex flex-col gap-4 text-gray-500 mt-4">
        <div class="flex items-center gap-2">
            <span class="text-base font-medium text-[var(--black)]">Pinky Choudhary</span>
            <span class="text-sm">&#64;jaan</span>
        </div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. A eius labore, aperiam aliquid dignissimos veritatis.</p>
        <div class="flex items-center gap-2">
            <figure><img src="./images/map.png" alt="map" class="w-6"></figure>
            <span>Living in <b>Sikar</b></span>
        </div>
        <div class="flex items-center gap-2">
            <figure><img src="./images/school.png" alt="map" class="w-6"></figure>
            <span>Went to <b>Advent High School</b></span>
        </div>
        <div class="flex items-center gap-2">
            <figure><img src="./images/work.png" alt="map" class="w-6"></figure>
            <span>Work in Railways at <b>Falna Station</b></span>
        </div>
        <div class="flex items-center justify-between">
            <div class="flex gap-1 items-center">
                <figure>
                    <img src="./images/link.png" alt="ling" class="w-6">
                </figure>
                <a href="https://medical.bccfalna.com" class="font-medium text-[var(--primary)]">Python/Django Project</a>
            </div>            
            <div class="flex gap-1 items-center">
                <figure>
                    <img src="./images/date.png" alt="ling" class="w-6">
                </figure>
                <span>Joined November 2022</span>
            </div>
        </div>
        <button class="btn-bg-gradient-success text-white text-sm rounded-md p-2">Follow</button>
        <span class="text-bg-gradient-danger self-end text-xs cursor-pointer">Block User</span>
     </div>
</div>