<div class="h-[60px] flex items-center justify-between">
    <!-- Start -->
    <div class="md:hidden lg:block w-[20%]" routerLink="">
        <p class="flex items-center justify-center gap-2">
            <!-- <span class="flex items-center justify-center border-4 border-solid border-[--shaded-2] w-[3rem] h-[3rem] rounded-full">
                <fa-icon class="font-bold text-2xl text-[--primary]" [icon]="icon.faUsers"/>
            </span>
            <span class="font-bold text-xl text-[--primary]"><span class="text-6xl text-[--shaded-2]">L</span>ink<span  class="text-3xl text-[--shaded-2]">UP</span></span> -->
            <img src="./images/logo.png" class="h-12 w-30"/>
        </p>
    </div>
     <!-- Middle -->
    <div class="hidden md:flex w-[50%] text-sm items-center justify-between">
        <!-- Links -->
        <div class="flex gap-6 text-gray-600">
            <div class="flex gap-2 items-center" routerLink="">
                <img class="w-4 h-4" src="./images/home.png" alt="home"/>
                <span>Home</span>
            </div>
            <div class="flex gap-2 items-center" routerLink="">
                <img class="w-4 h-4" src="./images/friends.png" alt="friends.png"/>
                <span>Friends</span>
            </div>
            <div class="flex gap-2 items-center" routerLink="">
                <img class="w-4 h-4" src="./images/stories.png" alt="stories.png"/>
                <span>Stories</span>
            </div>
            <div class="hidden xl:flex p-2 bg-[var(--text-lighter)] items-center rounded-xl">
                <input type="text" placeholder="find..." class="bg-transparent outline-none" id="search" name="search">
                <img src="./images/search.png" alt="search" class="w-4 h-4">
            </div>
        </div>
    </div>
    <!-- End -->
    <div class="w-[30%] flex items-center gap-4 xl:gap-8 justify-end">
        <!-- If user is authenticat -->
         <div class="flex gap-6">
            <div class="hidden md:flex cursor-pointer">
                <img src="./images/people.png" alt="" class="w-5 h-5" />
            </div>
            <div class="hidden md:flex cursor-pointer">
                <img src="./images/messages.png" alt="" class="w-5 h-5" />
            </div>
            <div class="hidden md:flex cursor-pointer">
                <img src="./images/notifications.png" alt="" class="w-5 h-5" />
            </div>
            <div class="cursor-pointer group relative">
                <img src="./images/noAvatar.png" alt="" class="w-5 h-5" />
                <ul class="absolute top-10 right-0 z-5 flex flex-col gap-6 opacity-0 invisible group-hover:opacity-100 group-hover:visible transition-all duration-1000 ease-in-out w-[10rem] bg-white p-4 rounded-lg shadow-xl">
                    <li class="flex items-center gap-4">
                        <fa-icon [icon]="icon.faUser" class="text-sm text-gray-400 cursor-pointer"/>
                        <span class="text-sm text-gray-400 cursor-pointer">Profile</span>
                    </li>
                    <hr class="border-t-1 border-gray-100" />
                    <li class="flex items-center gap-4" (click)="logout()">
                        <fa-icon [icon]="icon.faRightFromBracket" class="text-sm text-gray-400 cursor-pointer"/>
                        <span class="text-sm text-gray-400 cursor-pointer">Logout</span>
                    </li>
                </ul>
            </div>
         </div>
        <app-mobile-menu></app-mobile-menu>
    </div>
</div>
