<div class="p-4 bg-white rounded-lg shadow-xl overflow-scroll text-sm scrollbar-hide">
    <div class="flex gap-2 w-max">
        <!-- Story -->
        <div class="flex flex-col items-center gap-2 cursor-pointer relative">
            <div class="w-35 h-50 rounded-2xl bg-[var(--black)]"></div>
            <div class="absolute bottom-5 flex flex-col items-center gap-3">
                <div class="bg-white h-15 w-15 rounded-full flex items-center justify-center">
                    <fa-icon [icon]="icon.faPlus" class="text-2xl text-[var(--primary)]" />
                </div>
                <span class="font-bold text-base text-[var(--white)]">Add Story</span>
            </div>
        </div>
        <!-- Story -->
        <div class="flex flex-col items-center gap-2 cursor-pointer relative">
            <div class="w-35 h-50 rounded-2xl bg-[var(--black)]"></div>
            <div class="absolute bottom-5 flex flex-col items-center gap-3">
                <div class="bg-white h-15 w-15 rounded-full flex items-center justify-center">
                    <fa-icon [icon]="icon.faPlus" class="text-2xl text-[var(--primary)]" />
                </div>
                <span class="font-bold text-base text-[var(--white)]">Add Story</span>
            </div>
        </div>
        <!-- Story -->
        <div class="flex flex-col items-center gap-2 cursor-pointer relative">
            <div class="w-35 h-50 rounded-2xl bg-[var(--black)]"></div>
            <div class="absolute bottom-5 flex flex-col items-center gap-3">
                <div class="bg-white h-15 w-15 rounded-full flex items-center justify-center">
                    <fa-icon [icon]="icon.faPlus" class="text-2xl text-[var(--primary)]" />
                </div>
                <span class="font-bold text-base text-[var(--white)]">Add Story</span>
            </div>
        </div>
        <!-- Story -->
        <div class="flex flex-col items-center gap-2 cursor-pointer relative">
            <div class="w-35 h-50 rounded-2xl bg-[var(--black)]"></div>
            <div class="absolute bottom-5 flex flex-col items-center gap-3">
                <div class="bg-white h-15 w-15 rounded-full flex items-center justify-center">
                    <fa-icon [icon]="icon.faPlus" class="text-2xl text-[var(--primary)]" />
                </div>
                <span class="font-bold text-base text-[var(--white)]">Add Story</span>
            </div>
        </div>
        <!-- Story -->
        <div class="flex flex-col items-center gap-2 cursor-pointer relative">
            <div class="w-35 h-50 rounded-2xl bg-[var(--black)]"></div>
            <div class="absolute bottom-5 flex flex-col items-center gap-3">
                <div class="bg-white h-15 w-15 rounded-full flex items-center justify-center">
                    <fa-icon [icon]="icon.faPlus" class="text-2xl text-[var(--primary)]" />
                </div>
                <span class="font-bold text-base text-[var(--white)]">Add Story</span>
            </div>
        </div>
        <!-- Story -->
        <div class="flex flex-col items-center gap-2 cursor-pointer relative">
            <div class="w-35 h-50 rounded-2xl bg-[var(--black)]"></div>
            <div class="absolute bottom-5 flex flex-col items-center gap-3">
                <div class="bg-white h-15 w-15 rounded-full flex items-center justify-center">
                    <fa-icon [icon]="icon.faPlus" class="text-2xl text-[var(--primary)]" />
                </div>
                <span class="font-bold text-base text-[var(--white)]">Add Story</span>
            </div>
        </div>
        <!-- Story -->
        <div class="flex flex-col items-center gap-2 cursor-pointer relative">
            <div class="w-35 h-50 rounded-2xl bg-[var(--black)]"></div>
            <div class="absolute bottom-5 flex flex-col items-center gap-3">
                <div class="bg-white h-15 w-15 rounded-full flex items-center justify-center">
                    <fa-icon [icon]="icon.faPlus" class="text-2xl text-[var(--primary)]" />
                </div>
                <span class="font-bold text-base text-[var(--white)]">Add Story</span>
            </div>
        </div>
        <!-- Story -->
        <div class="flex flex-col items-center gap-2 cursor-pointer relative">
            <div class="w-35 h-50 rounded-2xl bg-[var(--black)]"></div>
            <div class="absolute bottom-5 flex flex-col items-center gap-3">
                <div class="bg-white h-15 w-15 rounded-full flex items-center justify-center">
                    <fa-icon [icon]="icon.faPlus" class="text-2xl text-[var(--primary)]" />
                </div>
                <span class="font-bold text-base text-[var(--white)]">Add Story</span>
            </div>
        </div>
        <!-- Story -->
        <div class="flex flex-col items-center gap-2 cursor-pointer relative">
            <div class="w-35 h-50 rounded-2xl bg-[var(--black)]"></div>
            <div class="absolute bottom-5 flex flex-col items-center gap-3">
                <div class="bg-white h-15 w-15 rounded-full flex items-center justify-center">
                    <fa-icon [icon]="icon.faPlus" class="text-2xl text-[var(--primary)]" />
                </div>
                <span class="font-bold text-base text-[var(--white)]">Add Story</span>
            </div>
        </div>
        <!-- Story -->
        <div class="flex flex-col items-center gap-2 cursor-pointer relative">
            <div class="w-35 h-50 rounded-2xl bg-[var(--black)]"></div>
            <div class="absolute bottom-5 flex flex-col items-center gap-3">
                <div class="bg-white h-15 w-15 rounded-full flex items-center justify-center">
                    <fa-icon [icon]="icon.faPlus" class="text-2xl text-[var(--primary)]" />
                </div>
                <span class="font-bold text-base text-[var(--white)]">Add Story</span>
            </div>
        </div>
        <!-- Story -->
        <div class="flex flex-col items-center gap-2 cursor-pointer relative">
            <div class="w-35 h-50 rounded-2xl bg-[var(--black)]"></div>
            <div class="absolute bottom-5 flex flex-col items-center gap-3">
                <div class="bg-white h-15 w-15 rounded-full flex items-center justify-center">
                    <fa-icon [icon]="icon.faPlus" class="text-2xl text-[var(--primary)]" />
                </div>
                <span class="font-bold text-base text-[var(--white)]">Add Story</span>
            </div>
        </div>
        <!-- Story -->
        <div class="flex flex-col items-center gap-2 cursor-pointer relative">
            <div class="w-35 h-50 rounded-2xl bg-[var(--black)]"></div>
            <div class="absolute bottom-5 flex flex-col items-center gap-3">
                <div class="bg-white h-15 w-15 rounded-full flex items-center justify-center">
                    <fa-icon [icon]="icon.faPlus" class="text-2xl text-[var(--primary)]" />
                </div>
                <span class="font-bold text-base text-[var(--white)]">Add Story</span>
            </div>
        </div>
        <!-- Story -->
        <div class="flex flex-col items-center gap-2 cursor-pointer relative">
            <div class="w-35 h-50 rounded-2xl bg-[var(--black)]"></div>
            <div class="absolute bottom-5 flex flex-col items-center gap-3">
                <div class="bg-white h-15 w-15 rounded-full flex items-center justify-center">
                    <fa-icon [icon]="icon.faPlus" class="text-2xl text-[var(--primary)]" />
                </div>
                <span class="font-bold text-base text-[var(--white)]">Add Story</span>
            </div>
        </div>
        <!-- Story -->
        <div class="flex flex-col items-center gap-2 cursor-pointer relative">
            <div class="w-35 h-50 rounded-2xl bg-[var(--black)]"></div>
            <div class="absolute bottom-5 flex flex-col items-center gap-3">
                <div class="bg-white h-15 w-15 rounded-full flex items-center justify-center">
                    <fa-icon [icon]="icon.faPlus" class="text-2xl text-[var(--primary)]" />
                </div>
                <span class="font-bold text-base text-[var(--white)]">Add Story</span>
            </div>
        </div>
        <!-- Story -->
        <div class="flex flex-col items-center gap-2 cursor-pointer relative">
            <div class="w-35 h-50 rounded-2xl bg-[var(--black)]"></div>
            <div class="absolute bottom-5 flex flex-col items-center gap-3">
                <div class="bg-white h-15 w-15 rounded-full flex items-center justify-center">
                    <fa-icon [icon]="icon.faPlus" class="text-2xl text-[var(--primary)]" />
                </div>
                <span class="font-bold text-base text-[var(--white)]">Add Story</span>
            </div>
        </div>
    </div>
</div>
