<div class="p-4 rounded-lg shadow-xl bg-[var(--white)] text-sm" *ngIf="allFriendRequests">
    <!-- Top -->
     <div class="">
        <div class="flex justify-between items-center">
            <span class="text-base font-semibold text-[var(--black)]">Friend Requests</span>
            <span class="text-sm text-blue-500">See all</span>
        </div>
        <div class="border-t-1 border-gray-200 mt-4"></div>
    </div>
    <!-- Bottom -->
     <div class="">
        <div class="flex flex-col gap-2 my-6" *ngFor="let friend of allFriendRequests">
            <div class="flex items-center gap-3">
                <img src="{{ url + friend.sender.img }}" alt="profile" class="rounded-full w-10 h-10"/>
                <div class="flex flex-col">
                    <p class="text-base font-semibold text-[var(--black)]">
                        {{ (friend.sender?.name && friend.sender?.surnmane) ? friend.sender?.name +' ' + friend.sender?.surnmae : friend.sender?.username }}
                    </p>
                    <span class="text-xs text-gray-400">12 mutual friends</span>
                </div>
            </div>
            <div class="flex-1 flex gap-2 mt-2">
                <div class="flex flex-1 items-center justify-center h-8 btn-bg-gradient-success rounded-lg shadow-lg cursor-pointer">
                    <button class="outline-none text-[var(--white)]">Confirm</button>
                </div>
                <div class="flex flex-1 items-center justify-center h-8 bg-[#eee] rounded-lg shadow-lg cursor-pointer">
                    <button class="outline-none text-[var(--black)]">Delete</button>
                </div>
            </div>
        </div>
     </div>
</div>
