<div class="bg-white p-4 shadow-xl rounded-lg">
    <!-- Link -->
     <div class="">
        <a class="flex items-center gap-2">
            <div class="flex items-center justify-center w-10 h-10 rounded-full bg-[var(--text-lighter)]">
                <fa-icon [icon]="icon.faPenFancy" class="text-lg text-[var(--primary)]"/>
            </div>            
            <span class="font-semibold text-sm text-[var(--text-light)]">Create Post</span>
        </a>
     </div>
     <!-- Post -->
      <div class="mt-4">
        <!-- Text-input -->
        <form #postForm="ngForm" class="flex gap-6 border-[1px] border-gray-200 p-4 rounded-lg">
            <div class="w-full">
                <textarea name="post" id="post" required ngModel #post="ngModel" placeholder="What's on your mind?" class="w-full bg-transparent outline-none text-gray-400 text-sm" rows="4"></textarea>
                <small class="text-[var(--btn-danger)]" *ngIf="errorMessage">{{ errorMessage }}.</small>
                <div *ngIf="post.invalid && post.touched">
                    <small class="text-bg-gradient-left-danger" *ngIf="post.errors?.['required']">If you clicked the button, please create a post.</small>
                </div>
            </div>
            <div class="flex flex-col items-center gap-2">
                <img src="./images/user-1.jpg" alt="noAvatar" class="w-6 h-6 rounded-full">
                <img src="./images/emoji.png" alt="emoji" class="w-6 h-6 rounded-full cursor-pointer">
                <button type="submit" (click)="creatPost(postForm)" *ngIf="post.valid"><img src="./images/send_btn.png" alt="emoji" class="w-7 h-7 rounded-full cursor-pointer"/></button>
            </div>
        </form>
        <!-- Post options -->
        <div class="flex items-center gap-4 mt-4 text-gray-400">
            <div class="flex items-center gap-2 cursor-pointer">
                <fa-icon [icon]="icon.faVideoCamera" class="text-xl text-[var(--dark-pink)]"/>
                <span class="hidden sm:block font-medium text-sm">Live Video</span>
            </div>
            <div class="flex items-center gap-2 cursor-pointer">
                <fa-icon [icon]="icon.faImage" class="text-xl text-[var(--secondary)]"/>
                <span class="hidden sm:block font-medium text-sm">Photo/Video</span>
            </div>
            <div class="flex items-center gap-2 cursor-pointer">
                <fa-icon [icon]="icon.faCamera" class="text-xl text-[var(--yellow)]"/>
                <span class="hidden sm:block font-medium text-sm">Feeling/Activity</span>
            </div>
        </div>
    </div>
</div>
