/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";

@theme{
  --primary:#0AC4BA;
  --secondary:#2BDA8E;
  --dark-pink:#F3534A;
  --yellow:#FFE358;
  --black: #343a40;
  --white: #FFFFFF;
  --text-dark:#9DA3B4;
  --text-light:#adb5bd;
  --text-lighter:#eaf0f9;
  --btn-success:#10d876;
  --btn-danger:#e50202;
  
  --linear-bottom:linear-gradient(to bottom, var(--primary) 0%, var(--secondary) 100%);
  --linear-left:linear-gradient(to left, var(--primary) 0%, var(--secondary) 100%);
  
  --btn-linear-bottom:linear-gradient(to bottom, var(--dark-pink) 0%, var(--btn-danger) 100%);
  --btn-linear-left:linear-gradient(to left, var(--btn-danger) 0%, var(--dark-pink) 100%);

  --bg-mask:linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7))
}

html{
  transition: all;
  transition-duration: 8s;
}

.bg-three-gradient{
    background: #F0F0F0 ;
    background: linear-gradient(58deg,rgb(210 204 204) 0%, rgba(237, 250, 253, 1) 50%, rgb(214 212 212) 100%);
}

.scrollbar-hide::-webkit-scrollbar{
  display: none;
}

.scrollbar-hide{
  scrollbar-width: none;
}

.btn-bg-gradient-success{
    background-image: var(--linear-left);
}

.btn-bg-gradient-danger{
  background: var(--btn-linear-left);
}

.text-bg-gradient-bottom-danger{
  background-image: var(--btn-linear-bottom);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-bg-gradient-left-danger{
  background: var(--btn-linear-left);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-bg-gradient-bottom-success{
  background-image: var(--linear-bottom);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-bg-gradient-left-success{
  background: var(--linear-left);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}